# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist

# Dependency directories
node_modules

# Environment files
.env

# Editor directories and files
.idea
.vscode
*.swp

# macOS-specific files
.DS_Store

